.our-classes {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.class-box {
  display: inline-block;
  font-family: sans-serif;
  width: 350px;
  margin: 10px;
  padding: 25px 0;
  border: 1px solid grey;
  border-radius: 8px;
  text-align: center;
  border-bottom: 6px solid grey;
}
