/* Logo style */
.logo {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none; /* astidagi chiziq olib tashlandi */
  color: black;
  display: flex;
  align-items: center;
  gap: 8px; /* icon va matn orasidagi bo‘shliq */
}

.logo-icon {
  font-size: 18px;
  color: rgb(255, 178, 0);
}

/* Categories links */
.cat-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  margin-right: 15px;
}

.cat-link:hover {
  color: goldenrod;
}

.cat-icon {
  font-size: 16px;
  color: rgb(52, 152, 219);
}

.cat-name {
  font-weight: 500;
}
